# Covid testing in US v. Korea

This notebook is used to scrape testing data from US CDC and merge with testing data from Korea CDC.

Sources are found here: 

- [US](https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/testing-in-us.html) - Scraped using BeautifulSoup
- [Korea](https://www.cdc.go.kr/board/board.es?mid=&bid=0030) - Manually entered from the press releases

In [1]:
# Import libaries
import pandas as pd
import requests
from bs4 import BeautifulSoup
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Scraping US CDC Data

### Step 1: Create a soup object from the home page

In [2]:
# create URL
url = "https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/testing-in-us.html"

# request url
res = requests.get(url)

### Step 2: Scrape the home page soup for every date

In [3]:
# Create content
soup = BeautifulSoup(res.content, "lxml")

In [4]:
# Find the container
table = soup.find("table", {"class": "table table-header-light nein-scroll"})

# Create the list
dates = []

# Loop through the rows
for row in table.find_all("tr")[1:]: # Skip the header row
    # create the dictionary
    date = {}
    
    cells = row.find_all("td")
    
    # fill the dictionary
    date["date"] = cells[0].text 
    date["CDC"] = cells[1].text
    date["PHL"] = cells[2].text

    # append team to list
    dates.append(date)

# Create a dataframe
df = pd.DataFrame(dates)

## Data cleaning

### Convert date to date time object

In [5]:
df["date"] = df["date"].str.replace("/", "-") # replace slashes with dash
df["date"] = df["date"] + "-2020" # add year to end of date
df["date"] = df['date'].astype('datetime64') # convert to date time object

### Remove last row of data, for missing values

In [6]:
df.drop(index = 59, inplace = True)
df.drop(index = 60, inplace = True)

### Convert cases to numeric

In [7]:
# remove special characters
df["CDC"] = df["CDC"].str.replace("‡", "")
df["PHL"] = df["PHL"].str.replace("‡", "")
df["PHL"] = df["PHL"].str.replace("§", "")

In [8]:
# remove special characters
df["CDC"] = df["CDC"].str.replace(" ", "")
df["PHL"] = df["PHL"].str.replace(" ", "")

In [9]:
df["CDC"] = df['CDC'].astype('int') # convert to date time object
df["PHL"] = df['PHL'].astype('int') # convert to date time object

ValueError: invalid literal for int() with base 10: ''

### Create a total column

In [10]:
# add CDC and Public Health Labs together
df["US"] = df["CDC"] + df["PHL"]

### Read in Korea data

In [12]:
# Read in data. This CSV was manually compiled
df_korea= pd.read_csv("../data/korea_tests.csv")

In [13]:
# Convert to date time object
df_korea["date"] = df_korea['date'].astype('datetime64')

### Find the daily testings numbers

The data on Korea's CDC page gave cumulative totals for testing. I am taking the difference between dates to find the daily testing numbers

In [14]:
# Calculate daily tests
df_korea["KOR"] = df_korea["Korea"].diff(1)

In [15]:
df_korea

         date     Korea      KOR
0  2020-01-18       NaN      NaN
1  2020-01-19       NaN      NaN
2  2020-01-20       NaN      NaN
3  2020-01-21       NaN      NaN
4  2020-01-22       NaN      NaN
5  2020-01-23       NaN      NaN
6  2020-01-24       NaN      NaN
7  2020-01-25       NaN      NaN
8  2020-01-26       NaN      NaN
9  2020-01-27       NaN      NaN
10 2020-01-28       NaN      NaN
11 2020-01-29       NaN      NaN
12 2020-01-30       NaN      NaN
13 2020-01-31       NaN      NaN
14 2020-02-01       NaN      NaN
15 2020-02-02       NaN      NaN
16 2020-02-03       NaN      NaN
17 2020-02-04       NaN      NaN
18 2020-02-05       NaN      NaN
19 2020-02-06       NaN      NaN
20 2020-02-07    1352.0      NaN
21 2020-02-08    1701.0    349.0
22 2020-02-09    2340.0    639.0
23 2020-02-10    2776.0    436.0
24 2020-02-11    4325.0   1549.0
25 2020-02-12    5074.0    749.0
26 2020-02-13    5797.0    723.0
27 2020-02-14    6854.0   1057.0
28 2020-02-15    7519.0    665.0
29 2020-02-16    7919.0    400.0
30 2020-02-17    8171.0    252.0
31 2020-02-18    9265.0   1094.0
32 2020-02-19   10411.0   1146.0
33 2020-02-20   12161.0   1750.0
34 2020-02-21   14816.0   2655.0
35 2020-02-22   19621.0   4805.0
36 2020-02-23   22633.0   3012.0
37 2020-02-24   28615.0   5982.0
38 2020-02-25   36716.0   8101.0
39 2020-02-26   46127.0   9411.0
40 2020-02-27   57990.0  11863.0
41 2020-02-28   70940.0  12950.0
42 2020-02-29   85693.0  14753.0
43 2020-03-01   98921.0  13228.0
44 2020-03-02  109591.0  10670.0
45 2020-03-03  125851.0  16260.0
46 2020-03-04  136707.0  10856.0
47 2020-03-05  146541.0   9834.0
48 2020-03-06  164740.0  18199.0
49 2020-03-07  178189.0  13449.0
50 2020-03-08  188518.0  10329.0
51 2020-03-09  196618.0   8100.0
52 2020-03-10  210144.0  13526.0
53 2020-03-11  222395.0  12251.0
54 2020-03-12  234998.0  12603.0
55 2020-03-13  261335.0  26337.0
56 2020-03-14  248647.0 -12688.0
57 2020-03-15       NaN      NaN
58 2020-03-16       NaN      NaN

# Merge US and Korea data sets

In [16]:
# merge data
df_total = pd.merge(left = df, right = df_korea, on="date")

In [17]:
# select for overlapping dates
df_total = df_total[(df_total["date"] > "2020-02-08") & (df_total["date"] < "2020-03-14")]

In [18]:
# Only select column totals
df_total = df_total[["date", "US", "KOR"]]

# Export to csv

In [22]:
df_total.to_csv("../data/cdc_tests.tsv", index = False, sep='\t')
df_total.to_csv("../data/cdc_tests.csv", index = False)

# EDA

In [32]:
total_us = df_total["US"].sum()
us_pop = 329414664

In [33]:
total_korea = df_total["KOR"].sum()
korea_pop = 51256929

In [35]:
round(total_us / us_pop, 5)

0.0001

In [34]:
round(total_korea/korea_pop, 6)

0.005065

In [31]:
us_pop > korea_pop

True

In [36]:
round(total_korea/korea_pop, 6) / round(total_us / us_pop, 5)

50.65

In [37]:
round(total_us / us_pop, 5) * 50

0.005